@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;1000&display=swap');

h3 {
    color: #ee6b2f;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    text-align: left;
}

.imagen-pokemon {
  height: 250px;
  position: relative;
  margin-right: 20px; 
  margin-left: auto; 
}

.boton-actualizar {
    margin-top: 20px;
    background-color: #ee6b2f;
    border:0.1px solid black;
    width: 50px;
    height: 50px;
}

button:hover{
    background-color: #c25726;
}

a {
    text-decoration: none;
    color: black;
}

.type-normal {
    background-color: #A8A77A;
    color:white;
  }
  
  .type-fire {
    background-color: #EE8130;
    color:white;
  }
  
  .type-water {
    background-color: #6390F0;
    color:white;
  }
  
  .type-electric {
    background-color: #F7D02C;
    color:white;
  }
  
  .type-grass {
    background-color: #7AC74C;
    color:white;
  }
  
  .type-ice {
    background-color: #96D9D6;
    color:white;
  }
  
  .type-fighting {
    background-color: #C22E28;
    color:white;
  }
  
  .type-poison {
    background-color: #A33EA1;
    color:white;
  }
  
  .type-ground {
    background-color: #E2BF65;
    color:white;
  }
  
  .type-flying {
    background-color: #A98FF3;
    color:white;
  }
  
  .type-psychic {
    background-color: #F95587;
    color:white;
  }
  
  .type-bug {
    background-color: #A6B91A;
    color:white;
  }
  
  .type-rock {
    background-color: #B6A136;
    color:white;
  }
  
  .type-ghost {
    background-color: #735797;
    color:white;
  }
  
  .type-dragon {
    background-color: #6F35FC;
    color:white;
  }
  
  .type-dark {
    background-color: #705746;
    color:white;
  }
  
  .type-steel {
    background-color: #B7B7CE;
    color:white;
  }
  
  .type-fairy {
    background-color: #D685AD;
    color:white;
  }

  .type-container {
    font-size: 15px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    align-items: center; 
    display: flex;
    justify-content: center;
    margin-top: 10px;

    display: flex;
    gap: 0.5rem;
    justify-content: center; 
    margin-top: 10px;
  }

  .type-container span {
    font-size: 1.4em;
    color: white;
    text-shadow: 0em 0em 0.2em black; /* Cambiado de .2em a 0.2em */
    border-radius: 0.4em;
    padding: 0.1em 0.5em; /* Ajustado el padding */
    box-shadow: 0 0 1rem rgba(0,0,0,0.25);
  }


  .titulo-secundario {
    margin-top: 20px;
  }

  .custom-container {
    margin-left: 0;
    margin-right: 0;
  }

  .custom-pokemon-individual {
    margin: 0; 
    padding: 0; 
    color: black; 
  }

  .shiny{
    margin-top: 20px;
    background-color: white;
    color: black;
    border:0.1px solid black;
    width: 50px;
    height: 50px;
    margin-left: 120px;
    margin-right: 20px;
  }

  .shiny-button-active {
    background-color: #ee6b2f;
    color: white;
   
  }

  .pokemon-card {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    max-width: 600px;
    margin: 10px;
    padding: 15px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .pokemon-info {
    position: relative;
    display: inline-block;
  }
  .pokemon-details {
    display: flex;
    gap: 0.5rem;
    justify-content: center; 
    font-size: 0.75rem;
    margin-top: 10px;
  }
  
.detail-value{
  background-color: #ececec;
    padding: 0.15rem 0.4rem; 
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.25);
}


.pokemon-name {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}