<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="container">
    <div *ngIf="pokemonAleatorio">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="titulo-secundario">
                    Descubre a ¡ <span style="color: #ee6b2f">{{ pokemonAleatorio.name }}</span> !
                </h3>
            </div>
        </div>
        <div class="pokemon-card">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <img class="imagen-pokemon" [src]="showingShiny ? getShinyImageUrl(pokemonAleatorio.id) : getNormalImageUrl(pokemonAleatorio.id)" alt="{{ pokemonAleatorio.name }}">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 datos">
                    <h5 class="pokemon-name">{{ pokemonAleatorio.name }} #{{ pokemonAleatorio.id }}</h5>
                    
                    <div class="type-container">
                        <span *ngFor="let type of pokemonAleatorio.types" [ngClass]="getCssClassForType(type.type.name)" class="tipo">
                            {{ type.type.name | uppercase }}
                        </span>
                    </div>
                    <div class="pokemon-details">
                        <h5 class="detail-value">{{ pokemonAleatorio.height }} M</h5>
                        <h5 class="detail-value">{{ pokemonAleatorio.weight }} KG</h5>
                    </div>
                    <div class="col-lg-12 mt-3 d-flex botones">
                        <button type="button"
                                class="btn btn-primary rounded-circle btn-circle d-flex align-items-center justify-content-center shiny"
                                [ngClass]="{ 'shiny-button-active': showingShiny }"
                                (click)="cambiarImagenShiny()">
                            <span class="material-symbols-outlined">{{ showingShiny ? 'star' : 'star' }}</span>
                        </button>
                        <button type="button"
                                class="btn btn-primary rounded-circle btn-circle d-flex align-items-center justify-content-center boton-actualizar mr-2"
                                (click)="cambiarPokemon()">
                            <span class="material-symbols-outlined">refresh</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>