* {
    background-color: #ee6b2f;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-weight:600;
}

.gg-pokemon:hover{
    color: black;
}

.navbar-toggler {
    border: none;
}

.primer-elemento {
    padding-left: 15px;
}
