<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand mx-auto" href="#">
        <i class="gg-pokemon"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <div class="primer-elemento">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/inicio" >Inicio</a>
            </li>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/buscar">Buscar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/equipo">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/sobrenosotros">Sobre nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>