.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #28282B ;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  #search {
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  #search-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  #search-button:hover {
    background-color: #0056b3;
  }
  
  /* Nueva regla para alinear el botón a la derecha */
  #search-button {
    margin-left: auto;
  }
  