<div class="custom-buscar">
<app-navbar></app-navbar>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="container">
  <app-buscador (search)="updateSearchTerm($event)"></app-buscador>
  <div class="row">
    <div class="col-md-4" *ngFor="let pokemon of visiblePokemonList">
      <div class="card mb-3">
        <div class="pokemon-imagen">
          <img class="card-img-top" [src]="pokemon.sprites?.other['official-artwork']?.front_default" alt="{{ pokemon.name }}">
        </div>
        <div class="card-body text-center">
          <div class="nombre-contenedor">
            <p class="pokemon-id">#{{ pokemon.id }}</p>
            <h2 class="pokemon-nombre">{{ pokemon.name | titlecase }}</h2>
          </div>
          <div class="types">
            <p *ngFor="let type of pokemon.types" [ngClass]="getCssClassForType(type.type.name)" class="tipo">
              {{ type.type.name | uppercase }}
            </p>
          </div>
          <div class="pokemon-stats">
            <p class="stat">{{ pokemon.height / 10 }} M</p>
            <p class="stat">{{ pokemon.weight / 10}} KG</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination d-flex justify-content-center">
          <li class="page-item">
            <button class="page-link" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
          </li>
          <li class="page-item">
            <span class="page-link">Página {{ currentPage }} de {{ totalPages }}</span>
          </li>
          <li class="page-item">
            <button class="page-link" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</div>