<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<app-navbar></app-navbar>
<div class="container">
    <div class="sobre-mi">
        <h3>Sobre mí</h3>
        <p>Soy un estudiante de Desarrollo de Aplicaciones Multiplataforma apasionado por la tecnología y la programación. Mi objetivo es explorar y aprender sobre diferentes lenguajes y tecnologías para crear soluciones innovadoras.</p>
        
        <p>Actualmente estoy cursando mi último año y me estoy especializando en el desarrollo de aplicaciones para múltiples plataformas, como aplicaciones móviles y web.</p>
        
        <p>En mi tiempo libre, me encanta trabajar en proyectos personales que me permiten aplicar lo que aprendo en clase. Puedes echar un vistazo a algunos de mis proyectos en mi perfil de GitHub, donde comparto mis avances y aprendizajes.</p>
        
        <p>Siempre estoy buscando oportunidades para aprender y crecer en el mundo del desarrollo de software. Si compartes esta pasión o si estás interesado en colaborar en proyectos, ¡no dudes en contactar conmigo!</p>
    </div>

    <div class="botones-enlaces">
        <a href="https://github.com/svigild" target="_blank" class="boton-enlace">
            <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://www.linkedin.com/in/sergio-vigil-díaz" target="_blank" class="boton-enlace">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="mailto:sergio3vd@gmail.com" class="boton-enlace">
            <i class="fas fa-envelope"></i> Correo
        </a>
    </div>
</div>