.search-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #search {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  #search-button {
    background-color: #ee6b2f;
    color: white;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #search-button:hover {
    background-color: #c25726;
    transform: scale(1.05);
  }