<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <h3 class="titulo">¡Bienvenido a SergiDex!</h3>
    </div>
    <div class="row">
      <div class="col-md-8 descripcion-inicio">
        <p>Sumérgete en el emocionante mundo de los Pokémon con nuestra completa guía interactiva. Explora una amplia variedad de Pokémon, desde los clásicos hasta las últimas adiciones, descubre sus habilidades únicas, sigue sus evoluciones fascinantes y desvela secretos ocultos. Ya sea que seas un Entrenador experimentado o recién estés empezando tu viaje, nuestra plataforma te proporciona una experiencia inmersiva para aprender sobre estos asombrosos seres, sus habilidades y su diversidad. ¡Prepárate para explorar, aprender y divertirte mientras te sumerges en el universo Pokémon como nunca antes lo habías hecho!</p>
    </div>
    <div class="col-md-4">
        <img src="https://images.wikidexcdn.net/mwuploads/wikidex/thumb/6/66/latest/20150729161538/Rayquaza.png/800px-Rayquaza.png" alt="Rayquaza">
    </div>
    
    <div class="row">
        <div class="destacados-container">
            <h3 class="section-title titulo">Pokémon Destacados</h3>
            <div class="destacados-list">
              <div *ngFor="let pokemon of destacados" class="pokemon-card">
                <img [src]="pokemon.sprites?.other['official-artwork'].front_default" alt="{{ pokemon.nombre }}" class="pokemon-image">
                <h3 class="pokemon-name">{{ pokemon.name | uppercase }}</h3>
                <p class="pokemon-details">
                  <div class="types">
                    <p *ngFor="let type of pokemon.types" [ngClass]="getCssClassForType(type.type.name)" class="tipo">
                      {{ type.type.name | uppercase }}
                    </p>
                  </div>
                
                <p class="pokemon-details">
                  <span class="detail-value">{{ pokemon.height / 10 }} M</span>
                  <span class="detail-value">{{ pokemon.weight / 10 }} KG</span>
                </p>
                <p>{{ pokemon.descripcion }}</p> <!-- Mostrar la descripción -->
              </div>
            </div>
          </div>
    </div>
  </div>
    <app-pokemon-individual></app-pokemon-individual>
