<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <h3 class="titulo">¡Bienvenido a SergiDex!</h3>
    </div>
    <div class="row">
      <div class="col-md-6 descripcion-inicio">
        <p>Sumérgete en el emocionante mundo de los Pokémon con nuestra completa guía interactiva. Explora una amplia variedad de Pokémon, desde los clásicos hasta las últimas adiciones, descubre sus habilidades únicas, sigue sus evoluciones fascinantes y desvela secretos ocultos. Ya sea que seas un Entrenador experimentado o recién estés empezando tu viaje, nuestra plataforma te proporciona una experiencia inmersiva para aprender sobre estos asombrosos seres, sus habilidades y su diversidad. ¡Prepárate para explorar, aprender y divertirte mientras te sumerges en el universo Pokémon como nunca antes lo habías hecho!</p>
      </div>
      <div class="col-md-6">
        <img src="https://i.pinimg.com/originals/a5/aa/57/a5aa57dc1059f3c9fed27bebc8aef346.jpg" alt="Image" class="img-fluid">
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-lg">
              <a href="/buscar">Buscar Pokémon</a></button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-lg">Crear equipo personalizado</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-lg">Sobre nosotros</button>
        </div>
    </div>
  </div>
  <app-pokemon-individual></app-pokemon-individual>